@model Assig1.ViewModels.ExpiationSearch

@{
    ViewData["Title"] = "Index";
}

<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h2>Index</h2>
</div>

<form asp-controller="Expiations" asp-action="Index" method="post" class="row mb-2">
    <div class="col-3">
        <select name="LocationId" asp-for="LocationId" class="form-control" asp-items="Model.Suburb">
            <option value="">All Locations...</option>
        </select>
    </div>
    <div class="col-4">
        <button class="btn btn-outline-primary"> Search </button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].OffencePenaltyAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].OffenceLevyAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].CorporateFeeAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].TotalFeeAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].EnforceWarningNoticeFeeAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].BacContentExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].VehicleSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].LocationSpeedLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].OffenceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].DriverState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].RegState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].LsaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].CameraLocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].CameraTypeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].PhotoRejCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].StatusCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].WithdrawCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationList[0].TypeCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExpiationList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffencePenaltyAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffenceLevyAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorporateFeeAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFeeAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnforceWarningNoticeFeeAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BacContentExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationSpeedLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffenceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LsaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraLocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoRejCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithdrawCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
